hw_imx135_liteon=/system/etc/camera/davinci/hw_imx135_liteon/
hw_ov5648_foxconn=/system/etc/camera/davinci/hw_ov5648_foxconn/
imx214_foxconn=/system/etc/camera/davinci/imx214_foxconn/
imx214_sunny=/system/etc/camera/davinci/imx214_sunny/
ov8858_foxconn=/system/etc/camera/davinci/ov8858_foxconn/
imx219_liteon=/system/etc/camera/davinci/imx219_liteon/
imx219_ofilm=/system/etc/camera/davinci/imx219_ofilm/
ov2680_ofilm_fe16=/system/etc/camera/davinci/ov2680_ofilm_fe16/
mt9d015_sunny_p2m19a=/system/etc/camera/davinci/mt9d015_sunny_p2m19a/
